============================================================
ARTIFACT: {{ .Name }} ( Level {{ .Level}} )
------------------------------
Form: {{.Form}}
Depletion: {{.Depletion}}
Effect:

{{.Effect}}

============================================================


